.loginButton {
    font-size: 1.5vw;
    line-height: 4.5vh;
    height: 5vh;
    width: 7vw;
    text-align: center;
    padding: 0 !important;
}

#firstButton {
    margin-left: 12vw;
}

form {
    padding-left: 0 !important;
}

input {
    padding-left: 0 !important;
    margin-left: 12vw;
    cursor: pointer;
}

#switchForm {
    color: blue;
    padding-left: 0 !important;
    cursor: pointer;
}