.Main-Page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Search {
  padding-left: 0;
  text-align: center;
}

 .niceButton {
    display:inline-block;
    border:0.1em solid #FFFFFF;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Poppins',sans-serif;
    font-weight: 300;
    font-size: 1vw;
    line-height: 1vw;
    color:#000000;
    background-color:#e9e9e9;
    text-align:center;
    transition: all 0.2s;
    flex: 1 1 0;
    width: 5vw;
    height: 5vh;
  }

  .niceButton:hover{
    color:#ffffff;
    background-color:#808080;
  }

  form {
    margin-right: 12vw;
    display: inline-block;
    padding-left: 0;
  }

  form * {
    padding-left: 0 !important;
    margin-left: 0;
  }

  ul {
    padding-right: 36vw;
  }

  input[type="text"] {
    width: 13vw;
    height: 4vh;
    font-size: 1vw;
    line-height: 1vw;
    display: inline-block;
  }

  input[type="text"]::placeholder {
    font-size: 1vw;
    line-height: 1vw;
  }

  .submitInput{
    margin-left: 0.5vw;
    background-color:#06008B;
    color: white;
  }

.submitInput:hover {
    background-color:#e9e9e9;
    color: #06008B;
  }