.stockButton {
    color: black;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
}

.stockButton:hover {
    padding: 15px 65px;
}