.styledTable {
    border-collapse: collapse;
    margin: 2vh auto;
    font-size: 80%;
    font-family: sans-serif;
    min-width: 300px;
    width: 80vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family:'Poppins',sans-serif;
}

.styledTable thead tr {
    background-color: #5D80FD;
    color: #ffffff;
    text-align: left;
}

.styledTable thead tr th {
    position: relative;
}

.styledTable th,
.styledTable td {
    padding: 12px 15px;
}

.styledTable tbody tr {
    border-bottom: thin solid #dddddd;
    text-align: left;
}

.styledTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styledTable tbody tr:last-of-type {
    border-bottom: 2px solid #5D80FD;
}

.styledTable tbody tr.active-row {
    font-weight: bold;
    color: #5D80FD;
}

#reload {
    position: absolute;
    right: 0;
    min-width: 25px;
    top: 0;
    bottom: 0;
    background-color: #5D80FD;
    border: none;
    vertical-align: middle;
    color: white;
}

#reload:hover {
    font-size: 1.2vw;
}

.filter {
    display: inline-block;
    background: none;
    border: none;
}

.activeFilter {
    -webkit-box-shadow: inset 0 -0.2vh 0 white;
    -moz-box-shadow: inset 0 -0.2vh 0 white;
    box-shadow: inset 0 -0.2vh 0 white;
    /* -webkit-box-shadow:inset 0vw -3vh 2vh -2vw white;
    -moz-box-shadow:inset 0vw -3vh 2vh -2vw white;
    box-shadow:inset 0vw -3vh 0.8vh -2vw white; */
}

.greenBackground{
    background-color: #78d8a8;
    color: #FFFFFF;
    width: 100vw;
    margin: 0 auto;
    padding-left: 0;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
}
.topSection {
    margin-top: 1.4vh;
}