.styledTable {
    border-collapse: collapse;
    margin: 2vh auto;
    font-size: 80%;
    font-family: sans-serif;
    min-width: 300px;
    width: 80vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styledTable thead tr {
    background-color: #5D80FD;
    color: #ffffff;
    text-align: left;
}

.styledTable thead tr th {
    position: relative;
}

.styledTable th,
.styledTable td {
    padding: 12px 15px;
}

.styledTable tbody tr {
    border-bottom: thin solid #dddddd;
    text-align: left;
}

.styledTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styledTable tbody tr:last-of-type {
    border-bottom: 2px solid #5D80FD;
}

.styledTable tbody tr.active-row {
    font-weight: bold;
    color: #5D80FD;
}

.reload {
    position: absolute;
    right: 0;
    min-width: 25px;
    top: 0;
    bottom: 0;
    background-color: #5D80FD;
    border: none;
}

.reload:hover {
    border: thin solid white;
}

.filter {
    display: inline-block;
    background: none;
    border: none;
}

.activeFilter {
    border-bottom: thin solid blue;
}

.greenBackground{
    background-color: #78d8a8;
    color: #FFFFFF;
    width: 100vw;
    margin: 0 auto;
    padding-left: 0;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
  }
  .topSection {
    margin-top: 1.4vh;
  }